<div class="h-full flex pt-[20%]">
    <div class="w-full h-fit">
      <div>
        <p class="text-center text-white mb-5">{{ stage$ | async }} / 15</p>
      </div>
      <div class="mb-10">
        <app-question [question]="question$ | async"></app-question>
      </div>
      <div class="mb-10">
        <app-answers [onSelect]="onSelect" [question]="question$ | async"></app-answers>
      </div>
      <div class="flex justify-center">
        <app-submit-answer (click)="onSubmit()" *ngIf="(status$ | async) === Status.PLAYING">Submit</app-submit-answer>
        <app-submit-answer (click)="onNext()" *ngIf="(status$ | async) === Status.NEXT">Next</app-submit-answer>
        <app-loading *ngIf="(status$ | async) === Status.LOADING"></app-loading>
      </div>
    </div>
</div>
