<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <h1 class="text-3xl font-bold mb-6">Data Visualizations App</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <a  class="bg-white rounded-lg shadow-md p-6 hover:bg-gray-100">
      <h2 class="text-lg font-semibold mb-4">Chart 1</h2>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vel nibh posuere iaculis.</p>
    </a>

    <a class="bg-white rounded-lg shadow-md p-6 hover:bg-gray-100">
      <h2 class="text-lg font-semibold mb-4">Chart 2</h2>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vel nibh posuere iaculis.</p>
    </a>

    <a  class="bg-white rounded-lg shadow-md p-6 hover:bg-gray-100">
      <h2 class="text-lg font-semibold mb-4">Chart 3</h2>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vel nibh posuere iaculis.</p>
    </a>
  </div>
</main>
